:root {
    --black: #0e0d11;
    --fg: #F8F8F2;
    --bg: #282A36;
    --current-line: #44475A;
    --comment: #6272A4;
    --cyan: #8BE9FD;
    --green: #50FA7B;
    --orange: #FFB86C;
    --pink: #FF79C6;
    --purple: #BD93F9;
    --ref: #FF5555;
    --yellow: #F1FA8C;
    --header-height: 48px;
}